//
// Generic theme's newsletter
// v3.0 | 2014-09-16 09:30
// --------------------------------------------------

//importation des variables
@import "variables.less";


// COLOR PARSING
// --------------------------------------------------

.colorParsing {
	nlCntCabBackground: @nlCntCabBackground;
	nlCntCabTitle: @nlCntCabTitle;
	nlCntCabText: @nlCntCabText;
	nlCntArtIconColor: @nlCntArtIconColor;
	nlCntArtReadMore: @nlCntArtReadMore;
	nlCntAgdPreTitle: @nlCntAgdPreTitle;
	nlCntChfPreTitle: @nlCntChfPreTitle;
	nlCntDsnPreTitle: @nlCntDsnPreTitle;
	nlCntPrfPreTitle: @nlCntPrfPreTitle;
	nlCntQtnPreTitle: @nlCntQtnPreTitle;
	nlCntCctBackground: @nlCntCctBackground;
	nlCntCctText: @nlCntCctText;
}