.colorParsing {
  nlCntCabBackground: #d12329;
  nlCntCabTitle: #ffffff;
  nlCntCabText: #ffffff;
  nlCntArtIconColor: #d12329;
  nlCntArtReadMore: #d12329;
  nlCntAgdPreTitle: #d12329;
  nlCntChfPreTitle: #d12329;
  nlCntDsnPreTitle: #d12329;
  nlCntPrfPreTitle: #d12329;
  nlCntQtnPreTitle: #d12329;
  nlCntCctBackground: #d12329;
  nlCntCctText: #ffffff;
}
